{% extends 'customer/base.html' %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for coffee in coffees %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ coffee.image.url}}" width="150" height="100">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input"
                                        value="{{ coffee.pk }}">
                                    <label class="form-check-label">{{ coffee.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ coffee.price }}</p>
                            </div>
                            <p>{{ coffee.description}}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for tea in teas %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ tea.image.url}}" width="150" height="100">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ tea.pk }}">
                                    <label class="form-check-label">{{ tea.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ tea.price }}</p>
                            </div>
                            <p>{{ tea.description}}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for snack in snacks %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ snack.image.url}}" width="150" height="100">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input"
                                        value="{{ snack.pk }}">
                                    <label class="form-check-label">{{ snack.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ snack.price }}</p>
                            </div>
                            <p>{{ snack.description}}</p>
                        </div>
                    </div>
                    <hr/>
                    {% endfor %}
                </div>
                <button class="btn btn-dark mt-5">Place Order</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}